<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Julien Rochat">
        <title>{% block title %}Thanatos{% endblock %}</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{asset ('vendor/bootstrap/css/bootstrap.min.css') }}">
        <!-- MetisMenu CSS -->
        <link rel="stylesheet" href="{{asset ('vendor/metisMenu/metisMenu.min.css') }}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{asset ('dist/css/sb-admin-2.css') }}">
        <!-- Moris Charts CSS -->
        <link rel="stylesheet" href="{{asset ('vendor/morrisjs/morris.css') }}">
        <!-- Custom Fonts -->
        <link rel="stylesheet" href="{{asset ('vendor/font-awesome/css/font-awesome.min.css') }}">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('hepia_thanatos_homepage') }}">Thanatos</a>
                </div>
                <!-- /.navbar-header -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="{{ path('hepia_thanatos_homepage') }}">Tableau de bord</a>
                            </li>
                            <li>
                                <a href="#">Projet<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('hepia_thanatos_project') }}">Afficher</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('hepia_thanatos_project_new') }}">Créer</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#">Réseau de neurones<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('hepia_thanatos_network') }}">Afficher</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('hepia_thanatos_network_new') }}">Créer</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#">Ensemble<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('hepia_thanatos_set') }}">Afficher</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('hepia_thanatos_set_new') }}">Créer</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
            {% block body %}
            {% endblock %}
            <!-- /#page-wrapper -->
        </div>
        <div id="js-vars" data-vars="{{ js_vars|json_encode|e('html_attr') }}"/>
        
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="{{asset ('vendor/jquery/jquery.min.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{asset ('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{asset ('vendor/metisMenu/metisMenu.min.js') }}"></script>
        <!-- Custom Theme JavaScript -->
        <script src="{{asset ('dist/js/sb-admin-2.js') }}"></script>
        <script src="http://129.194.184.108:8080/socket.io/socket.io.js"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
